body {
    background-color: rgb(224, 208, 176);
    border: 6px solid yellow;
    padding: 20px;
}

h3 {
    color: rgb(210, 223, 35);
}


#one {
    /*to change in ID, use #    */
    color: darkgoldenrod;

}

.blue {
    /*to change in Class, use .    */
    border: 4px solid blue;
    color: rgb(168, 197, 38);
}

.title {
    display: inline;
    border: 6px dotted red;
}

h4 {
    color: rgba(224, 24, 24, 0.76);
}

/* 
h1,h2,h3,p{  to change in a group }
*/

.header a {
    border: 3px solid black;
    display: inline-block;
    color: rgb(112, 120, 194);
    text-decoration: none;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;

    text-shadow: 3px 3px rgb(136, 133, 133);
}

.navbar {
    /* width: 50%; */
    max-width: 500px;
    border: 10px solid rgb(253, 125, 74);
    padding: 20px;
    margin: 20px;
}

.pbox {
    /* width: 50%; */
    max-width: 500px;
    border: 10px solid rgb(253, 125, 74);
    background-color: azure;
    padding: 20px;
    margin: 20px;
    outline: 9px dashed rgb(112, 120, 194);
    /* Text butify */
    text-indent: 15px;
    text-align: justify;
    letter-spacing: 1px;
    /text-decoration: underline;
    font-family: 'Lobster', cursive;
}

/* link */
#innerlink{
    display: block;
    width: 140px;
    margin: auto;
    padding: 25px;
    background-color: cyan;
    border-radius: 20px 10px;
    text-decoration: none;
}

#innerlink:link{
    background-color: rgb(236, 240, 32);
    color: rgb(3, 3, 3);
}

#innerlink:visited{
    background-color: rgb(54, 211, 88);
    color: white;
}

#innerlink:hover{
    background-color: rgb(54, 211, 88);
    color: white;
}

#innerlink:checked{
    background-color: rgb(214, 45, 45);
    color: white;
}