body {
    background-color: rgb(224, 208, 176);
    border: 6px solid yellow;
}

h3 {
    color: rgb(210, 223, 35);
}


#one {
    /*to change in ID, use #    */
    color: darkgoldenrod;

}

.blue {
    /*to change in Class, use .    */
    border: 4px solid blue;
    color: rgb(168, 197, 38);
}

.title {
    display: inline;
    border: 6px dotted red;
}

h4 {
    color: rgba(224, 24, 24, 0.76);
}

/* 
h1,h2,h3,p{  to change in a group }
*/

.header a{
    display: inline-block;
    color: rgb(112, 120, 194);
    text-decoration: none;
    font-size: larger;
    margin-left: 20px;
    margin-top:  30px;
    margin-bottom: 30px;
}